= simple_form_for @fragrance do |f|
  .row
    .col-md-6
      = f.input :name_fr
    .col-md-6
      = f.input :name_en
    .col-md-6
      = f.association :fragrance_profile, collection: policy_scope(FragranceProfile).order(:name_fr).map { |fragrance_profile| [fragrance_profile.name_fr, fragrance_profile.id] }

  = f.submit t("helpers.submit.submit", default: "Submit"), class: "btn btn-primary my-3"
  = link_to t('.cancel', default: t("helpers.links.cancel")), fragrances_url, class: "btn btn-outline-secondary"
