- model_class = Fragrance
- content_for :title do
  %h1= model_class.model_name.human count: 2

- content_for :title_actions do
  - if policy(Fragrance).new?
    = link_to new_fragrance_url, class: "btn btn-outline-secondary" do
      %i.fa-solid.fa-plus
      = t ".new", default: t("helpers.titles.newf", model: model_class.model_name.human)

= render "shared/filter", model_class: model_class

%table.table
  %thead
    %tr
      %th= sortable_header :name_fr, model_class.human_attribute_name(:name_fr)
      %th= sortable_header :name_en, model_class.human_attribute_name(:name_en)
      %th= sortable_header :fragrance_profile, FragranceProfile.model_name.human
      %th

  %tbody
    - fragrances.each do |fragrance|
      %tr
        %td= link_to fragrance.name_fr, fragrance_path(fragrance)
        %td= fragrance.name_en
        %td= fragrance.fragrance_profile.name


        %td.text-nowrap
          - if policy(fragrance).edit?
            = link_to edit_fragrance_url(fragrance), class: "btn btn-primary btn-sm mx-1" do
              %i.fa-solid.fa-pen
          - if policy(fragrance).destroy?
            = link_to fragrance, class: "btn btn-danger btn-sm mx-1", data: { "turbo-method": :delete, turbo_confirm: "Are you sure?"  } do
              %i.fa-solid.fa-trash


= add_pagination @fragrances
