- model_class = Order
- content_for :title do
  %h1= model_class.model_name.human count: 2
    
= render "shared/filter", model_class: model_class

%table.table
  %thead
    %tr
      %th= sortable_header :session_id, model_class.human_attribute_name(:session_id)
      %th= CatalogItem.model_name.human count: 2
      %th= sortable_header :state, model_class.human_attribute_name(:state)
      %th= sortable_header :net_amount_due_money, model_class.human_attribute_name(:net_amount_due_money)
      %th= sortable_header :paid_at, model_class.human_attribute_name(:paid_at)
      %th

  %tbody
    - orders.each do |order|
      %tr
        %td= link_to order.session_id, order_url(order)
        %td
          - if order.order_items.sum(&:quantity).positive?
            = order.order_items.sum(&:quantity)
          - else
            = "empty"
        %td= order.state
        -# %td= t("helpers.format.money", val: number_with_precision((order.net_amount_due_money / 100), precision: 2))
        %td= order.net_amount_due_money
        %td= order.paid_at


= add_pagination @orders
