- model_class = Order
- content_for :title do
  %h1= t '.title', :default => model_class.model_name.human

%dl.row
  %dt.col-sm-3= model_class.human_attribute_name :session_id
  %dd.col-sm-9= order.session_id
  %dt.col-sm-3= model_class.human_attribute_name :square_id
  %dd.col-sm-9= order.square_id
  %dt.col-sm-3= model_class.human_attribute_name :state
  %dd.col-sm-9= order.state
  %dt.col-sm-3= model_class.human_attribute_name :paid_at
  %dd.col-sm-9= order.paid_at
  %dt.col-sm-3= model_class.human_attribute_name :version
  %dd.col-sm-9= order.version

    
- if policy(order).index?
  = link_to orders_url, class: "btn btn-outline-secondary mx-1" do
    %i.fa-solid.fa-chevron-left
    = t('.back', :default => t("helpers.links.back"))
