.container-fluid.pt-5.mt-5
  .row
    .col-12.col-md-6.bg-white
      .container.p-sm-5
        .my-3
          %h2.mt-5= t(".contact")
          .row.mt-3
            .col-12
              %input.form-control.mb-2{id: "email",type: "text", placeholder: "Email"}
              %span.text-danger{id: "shipping-email-error"}

        .my-3
          %h2.mt-5= t(".delivery")
          .row.mt-3{data: {controller: "places", action: "google-maps-callback@window->places#initShippingAutocomplete"}}
            .col-6.mb-1
              .mb-2
                %input.form-control{id: "shipping-first-name", type: "text", placeholder: t("activerecord.attributes.addresses.first_name")}
                %span.text-danger{id: "shipping-first-name-error"}
            .col-6.mb-1
              .mb-2
                %input.form-control{id: "shipping-last-name", type: "text", placeholder: t("activerecord.attributes.addresses.last_name")}
                %span.text-danger.sm{id: "shipping-last-name-error"}
            .col-12.mb-1
              .mb-2
                %input.form-control{id: "shipping-address-line", type: "text", data: {places_target: "address"}, placeholder: t("activerecord.attributes.addresses.address_line")}
                %span.text-danger{id: "shipping-address-line-error"}
            .col-6.mb-1
              %input.form-control.mb-2{id: "shipping-company", type: "text", placeholder: t("activerecord.attributes.addresses.company")}
            .col-6.mb-1
              %input.form-control{id: "shipping-apartment", type: "text", data: {places_target: "apartment"}, placeholder: t("activerecord.attributes.addresses.apartment")}
            .col-4.mb-1
              .mb-2
                %input.form-control{id: "shipping-city", type: "text", data: {places_target: "city"}, placeholder: t("activerecord.attributes.addresses.city")}
                %span.text-danger{id: "shipping-city-error"}
            .col-4.mb-1
              .mb-2
                %input.form-control{id: "shipping-province", type: "text", data: {places_target: "province"}, placeholder: t("activerecord.attributes.addresses.province")}
                %span.text-danger{id: "shipping-province-error"}
            .col-4.mb-1
              .mb-2
                %input.form-control{id: "shipping-postal-code", type: "text", data: {places_target: "postalCode"}, placeholder: t("activerecord.attributes.addresses.postal_code")}
                %span.text-danger{id: "shipping-postal-code-error"}
            .col-12.mb-1
              .mb-2
                %input.form-control{id: "shipping-country", type: "text", data: {places_target: "country"}, placeholder: t("activerecord.attributes.addresses.country")}
                %span.text-danger{id: "shipping-country-error"}

        .container.mt-5
          %h2.mt-5= t(".payment")
          %p.text-muted= t(".secure_payment")
          %form#payment-form.mt-3
            #card-container
            .form-check.text-start
              %input#billing-checkbox.form-check-input{type: "checkbox", checked: true, 'data-bs-toggle': "collapse", 'data-bs-target': "#billing-address-form", 'aria-expanded': "false", 'aria-controls': "billing-address-form"}
              %label.form-check-label{for: "billing-checkbox"}
                = t(".same_address")
            #billing-address-form.collapse
              .row.mt-3{data: {action: "google-maps-callback@window->places#initBillingAutocomplete"}}
                .col-6.mb-1
                  .mb-2
                    %input.form-control{id: "billing-first-name", type: "text", placeholder: t("activerecord.attributes.addresses.first_name")}
                    %span.text-danger{id: "billing-first-name-error"}
                .col-6.mb-1
                  .mb-2
                    %input.form-control{id: "billing-last-name", type: "text", placeholder: t("activerecord.attributes.addresses.last_name")}
                    %span.text-danger{id: "billing-last-name-error"}
                .col-12.mb-1
                  .mb-2
                    %input.form-control{id: "billing-address-line", type: "text", placeholder: t("activerecord.attributes.addresses.address_line")}
                    %span.text-danger{id: "billing-address-line-error"}
                .col-6.mb-1
                  %input.form-control.mb-2{id: "billing-company", type: "text", placeholder: t("activerecord.attributes.addresses.company")}
                .col-6.mb-1
                  %input.form-control.mb-2{id: "billing-apartment", type: "text", placeholder: t("activerecord.attributes.addresses.apartment")}
                .col-4.mb-1
                  .mb-2
                    %input.form-control{id: "billing-city", type: "text", placeholder: t("activerecord.attributes.addresses.city")}
                    %span.text-danger{id: "billing-city-error"}
                .col-4.mb-1
                  .mb-2
                    %input.form-control{id: "billing-province", type: "text", placeholder: t("activerecord.attributes.addresses.province")}
                    %span.text-danger{id: "billing-province-error"}
                .col-4.mb-1
                  .mb-2
                    %input.form-control{id: "billing-postal-code", type: "text", placeholder: t("activerecord.attributes.addresses.postal_code")}
                    %span.text-danger{id: "billing-postal-code-error"}
                .col-12.mb-1
                  .mb-2
                    %input.form-control{id: "billing-country", type: "text", placeholder: t("activerecord.attributes.addresses.country")}
                    %span.text-danger{id: "billing-country-error"}
            .row.text-center
              .col
                %button#card-button.btn.btn--success.my-3.px-5{type: "button"}= t(".pay")
            #payment-status-container
              %p#payment-status-message

    .col-12.col-md-6.bg-light
      .container.mt-5.p-5{style: "position: sticky; top: 90px;"}
        - subtotal = 0
        - @order.order_items.order(:created_at).each do |order_item|
          - subtotal += order_item.quantity * order_item.catalog_item_variation.price
          .row.d-flex.align-items-center.mb-3
            .col-sm-8.col-12.text-start
              %div
                %h4= "#{order_item.catalog_item.name.upcase} - #{order_item.catalog_item_variation.name}"
                %div= t("helpers.format.money", val: number_with_precision(order_item.catalog_item_variation.price, precision: 2))
            .col-sm-2.col-6
              %div
                .mb-2= order_item.quantity
            .col-sm-2.col-6.pb-2
              .d-flex.mt-3.mt-sm-0
                %div.text-end
                  = t("helpers.format.money", val: number_with_precision(order_item.quantity * order_item.catalog_item_variation.price, precision: 2))
        <hr>
        .row.mt-2.pe-3
          .col-12.text-center.text-sm-end
            .d-flex.justify-content-between
              %div= t(".subtotal")
              %div= t("helpers.format.money", val: number_with_precision(subtotal, precision: 2))
            .d-flex.justify-content-between
              %div= t(".shipping")
              %div= t("helpers.format.money", val: number_with_precision(@order.decorate.shipping_fee, precision: 2))
            .d-flex.justify-content-between.mt-3
              %h3= t(".total")
              %h3#total_money
                = "CAD #{t("helpers.format.money", val: number_with_precision((subtotal + @order.decorate.shipping_fee), precision: 2))}"
          .col-12.mt-4.text-start
            %form{action: apply_promo_code_path, method: "post", data: { turbo: false }}
              .input-group.mb-3
                %input.form-control{name: "promo_code", placeholder: t(".apply_promo_code")}
                %button.btn.btn-outline-primary{type: "submit"}= t(".apply_promo_code")
            - if @order.promo_code.present?
              %p.text-success.mt-2
                = t(".promo_applied", code: @order.promo_code)
