.container.my-5.py-5
  .row.justify-content-center
    .col-12.col-lg-8
      .card
        .card-header
          %h2.text-center= t(".receipt")

        .card-body
          %p= t(".successful_payment")
          %p= t(".keep_receipt")

          .text-center.mt-4
            %a.btn.btn--primary{ href: @receipt.receipt_url, target: "_blank", role: "button" }= t(".view_receipt")

          .text-center.mt-4
            %a.btn.btn--primary{ href: "/", role: "button" }= t(".return_home")
