= simple_form_for @catalog_item_variation do |f|
  .row
    .col-md-12.py-2
      = f.association :catalog_item, collection: policy_scope(CatalogItem).order(:name_fr).map { |catalog_item| [catalog_item.name_fr, catalog_item.id] }
    .col-md-6
      = f.input :name_fr
    .col-md-6
      = f.input :name_en
    .col-md-6.py-2
      = f.label :description_fr
      = f.rich_text_area :description_fr
    .col-md-6.py-2
      = f.label :description_en
      = f.rich_text_area :description_en
    .col-md-6
      = f.input :square_id, disabled: true
    .col-md-6
      = f.input :version, disabled: true
    .col-md-6
      = f.input :price
    -# .col-md-6
    -#   = f.input :image_url
    .col-md-6
      = f.input :color
    .col-md-6
      = f.input :size
    .col-md-6
      = f.input :sku

  = f.submit t("helpers.submit.submit", default: "Submit"), class: "btn btn-primary my-3"
  = link_to t('.cancel', default: t("helpers.links.cancel")), catalog_item_variations_url, class: "btn btn-outline-secondary"
