- model_class = Category
- content_for :title do
  %h1= t '.title', :default => model_class.model_name.human

%dl.row
  %dt.col-sm-3= model_class.human_attribute_name :name_fr
  %dd.col-sm-9= category.name_fr
  %dt.col-sm-3= model_class.human_attribute_name :name_en
  %dd.col-sm-9= category.name_en



- if policy(category).index?
  = link_to categories_path, class: "btn btn-outline-secondary mx-1" do
    %i.fa-solid.fa-chevron-left
    = t('.back', :default => t("helpers.links.back"))

- if policy(category).edit?
  = link_to edit_category_path(@category), class: "btn btn-primary mx-1" do
    %i.fa-solid.fa-edit
    = t('.edit', :default => t("helpers.links.edit"))
