#carouselExampleSlidesOnly2.carousel.slide{"data-bs-ride" => "carousel"}
  .carousel-inner
    .carousel-item.active{"data-bs-interval" => "4000"}
      = image_tag "banner-home.jpg", class: 'd-block w-100'
    .carousel-item{"data-bs-interval" => "4000"}
      = image_tag "banner-home1.jpg", class: 'd-block w-100'
    .carousel-item{"data-bs-interval" => "4000"}
      = image_tag "banner-home2.jpg", class: 'd-block w-100'
    .carousel-item{"data-bs-interval" => "4000"}
      = image_tag "banner-home3.jpg", class: 'd-block w-100'
    .carousel-item{"data-bs-interval" => "4000"}
      = image_tag "banner-home4.jpg", class: 'd-block w-100'
    .carousel-item{"data-bs-interval" => "4000"}
      = image_tag "banner-home5.jpg", class: 'd-block w-100'


.intro-section
  = image_tag 'LogoAtie_Hatie_transparent_bg.png', alt: '', class: "img-fluid logo-image logo-image--visible"
  %h4.sub_banner= t(".convince_them").html_safe
  = image_tag 'LogoAtie_Hatie_transparent_bg.png', alt: '', class: "img-fluid logo-image"

%div.mx-lg-5.cards-container.mb-lg-5.text-center
  %div.grid
    - @catalog_item_variations.each do |item|
      - if item.images.first.present?
        .grid-item.text-center
          %p.product-title= item.catalog_item.name
          = image_tag item.images.first.image_url, class: 'img-fluid px-3'
          %p.product-description= item.catalog_item.fragrance.fragrance_profile.name if item.catalog_item.fragrance.present?
          %p.product-description= item.name
          = link_to product_path(item) do
            %button.btn.btn--primary.mb-3= t("helpers.links.learn_more")
  = link_to products_path, class: "text-decoration-none" do
    %button.btn.btn--primary.mt-5.p-3= t("helpers.links.see_our_catalog")


%section.stores-section.py-3
  %div.container.py-5
    %h2.title.pb-5= t(".our_partners")
    %div.logos-container.pb-3
      %div.logo-item
        = image_tag "logo1.png", alt: "Logo Boutique 1"
      %div.logo-item
        = image_tag "eco_logo.png", alt: "Logo Boutique 3"
      %div.logo-item
        = image_tag "logo2.png", alt: "Logo Boutique 2"
