= image_tag "banner1.png", class: 'banner-image'

.intro-section
  = image_tag 'LogoAtie_Hatie_transparent_bg.png', alt: '', class: "img-fluid logo-image logo-image--visible"
  %h4.sub_banner= t(".convince_them")
  = image_tag 'LogoAtie_Hatie_transparent_bg.png', alt: '', class: "img-fluid logo-image"

%div.mx-md-5.cards-container.mb-5
  %div.grid
    - @catalog_item_variations.each do |item|
      - next unless item.image_urls.first.present?
        .grid-item.text-center
          %p.product-title= item.catalog_item.name
          = image_tag item.image_urls.first, class: 'img-fluid px-3'
          %p.product-description= item.catalog_item.fragrance.fragrance_profile.name
          %p.product-description= item.name
          = link_to product_path(item) do
            %button.btn.btn--primary.mb-3= t("helpers.links.learn_more")

%section.stores-section.py-3
  %div.container.py-5
    %h2.title.pb-5= t(".our_partners")
    %div.logos-container.pb-3
      %div.logo-item
        = image_tag "logo1.png", alt: "Logo Boutique 1"
      %div.logo-item
        = image_tag "logo2.png", alt: "Logo Boutique 2"
