.container.my-5.py-5
    .row
        .col-12.text-center.mt-3
            %h1.mb-4= t(".policy_return")
        .col-12.col-md-8.offset-md-2
            .card.shadow-sm
            .card-body
                %h2.card-title.text-center.my-4= t(".policy_return_title")
                %p.card-text
                    = t(".text_one")
                %p.card-text.fw-bold.text-center
                    = t(".text_two")
                %p.card-text.mt-4.fw-bold.text-center
                    = t(".text_three")
                %p.card-text.mt-4.fw-bold.text-center
                    = t(".text_four")
                %p.card-text.mt-4
                    = t(".text_five")
                %p.card-text.mt-4.fw-bold.text-center
                    = t(".text_six")
                %p.card-text.mt-4
                    = t(".text_seven")
                %p.card-text.mt-4
                    = t(".text_eight")
                %p.card-text.mt-4.fw-bold.text-center
                    = t(".text_nine")
                %p.card-text.mt-4
                    = t(".text_ten")
                %p.card-text.tex.mt-4
                    = t(".text_eleven")
