%body#product-show-page
  .gradient
    .container.me-5.mt-5
      = link_to products_path, class: "text-black text-decoration-none" do
        .fa-solid.fa-arrow-left
        = t(".back_to_store")
    .container-show-page
      %p.mt-3= @catalog_item_variation.catalog_item.category.name
      %h1.mt-2.text-uppercase= @catalog_item_variation.catalog_item.name
      .product-information
        %p.mt-3= "#{t("helpers.format.money", val: number_with_precision(@catalog_item_variation.price, precision: 2))} - #{@catalog_item_variation.name} #{"- " + @catalog_item_variation.catalog_item.fragrance.fragrance_profile.name if @catalog_item_variation.catalog_item.fragrance.present?}"
      - if @catalog_item_variation.images.count > 1
        #carouselExampleIndicators.carousel.slide.product-image.mt-5{ data: { bs_ride: "carousel" } }
          .carousel-indicators
            - @catalog_item_variation.images.each_with_index do |image, index|
              %button{ type: "button", data: { bs_target: "#carouselExampleIndicators", bs_slide_to: index }, class: ('active' if index.zero?), aria_label: "Slide #{index + 1}" }

          .carousel-inner
            - @catalog_item_variation.images.each_with_index do |image, index|
              .carousel-item{ class: ('active' if index.zero?) }
                = image_tag image.image_url, alt: "Image #{index + 1}", class: "d-block w-100"

          %a.carousel-control-prev{ href: "#carouselExampleIndicators", role: "button", data: { bs_slide: "prev" } }
            %span.carousel-control-prev-icon{ aria_hidden: "true" }
            %span.visually-hidden Previous

          %a.carousel-control-next{ href: "#carouselExampleIndicators", role: "button", data: { bs_slide: "next" } }
            %span.carousel-control-next-icon{ aria_hidden: "true" }
            %span.visually-hidden Next
      - else
        - if @catalog_item_variation.images.first.present?
          %div.product-image.mt-5
            -# = image_tag "original.jpeg", alt: "Bougie de haute qualité", class: "product-show-img"
            = image_tag @catalog_item_variation.images.first.image_url, alt: "Bougie de haute qualité", class: "product-show-img"
        - else
          %div.product-image.mt-5
            = image_tag 'LogoAtie&Hatietspbg.png', alt: "Bougie de haute qualité", class: "product-show-img"
      .product-details
        .description
          %p=@catalog_item_variation.catalog_item.description
        = simple_form_for OrderItem.new, url: add_item_path do |f|
          = f.input :quantity, as: :hidden, type: :number, input_html: { value: 1 }
          = f.input :catalog_item_variation_id, as: :hidden, input_html: { value: @catalog_item_variation.id }
          = f.submit t("helpers.links.add_to_cart"), class: "btn btn--outline p-3"


      .variations.mt-5
        .colors.text-center.p-4.me-3
          %p.text-uppercase.text-decoration-underline= t("attributes.colors")
          %ul
            - current_size = @catalog_item_variation.size
            - color_variations_for_size = @catalog_item_variation.catalog_item.catalog_item_variations.where(size: current_size, available: true).pluck(:color).uniq
            - color_variations_for_size.each do |color|
              - next if color == "transparent"
              - same_size_variation = @catalog_item_variation.catalog_item.catalog_item_variations.find_by(size: current_size, color: color, available: true)
              - next unless same_size_variation.present?
              - translated_color = same_size_variation.translated_color
              - if color == @catalog_item_variation.color
                %li.disabled= translated_color
              - else
                = link_to product_path(same_size_variation), class: "text-decoration-none text-black" do
                  %li= translated_color

        .format.text-center.p-4
          %p.text-uppercase.text-decoration-underline= t("attributes.sizes")
          %ul
            - current_color = @catalog_item_variation.color
            - size_variations_for_color = @catalog_item_variation.catalog_item.catalog_item_variations.where(color: current_color, available: true).pluck(:size).uniq
            - size_variations_for_color.each do |size|
              - next if size == "aucun"
              - same_color_variation = @catalog_item_variation.catalog_item.catalog_item_variations.find_by(color: current_color, size: size, available: true)
              - next unless same_color_variation.present?
              - if size == @catalog_item_variation.size
                %li.disabled= size
              - else
                = link_to product_path(same_color_variation), class: "text-decoration-none text-black w-100" do
                  %li= size


    #accordionDisplayProduct.accordion.mb-3
      .accordion-item.mb-4{style: "box-shadow: none; border: none;"}
        %h2#headingOne.accordion-header{style: "background-color: transparent; border: none;"}
          %button.accordion-button.collapsed.ps-0{"aria-controls" => "collapseOne", "data-bs-target" => "#collapseOne", "data-bs-toggle" => "collapse", type: "button", style: "background-color: transparent; border: none;"}
            %strong.ms-2.text-uppercase= t(".instruction")
        #collapseOne.accordion-collapse.collapse{"aria-labelledby" => "headingOne", "data-bs-parent" =>  "#accordionExample", style: "box-shadow: none; border: none;"}
          .accordion-body
            #category-filter
              %p= @catalog_item_variation.instruction

      .accordion-item.mb-5{style: "box-shadow: none; border: none;"}
        %h2#headingTwo.accordion-header{style: "background-color: transparent; border: none;"}
          %button.accordion-button.collapsed.ps-0{"aria-controls" => "collapseTwo", "data-bs-target" => "#collapseTwo", "data-bs-toggle" => "collapse", type: "button", style: "background-color: transparent; border: none;"}
            %strong.ms-2.text-uppercase= t(".information")
        #collapseTwo.accordion-collapse.collapse{"aria-labelledby" => "headingTwo", "data-bs-parent" =>  "#accordionExample", style: "box-shadow: none; border: none;"}
          .accordion-body
            #additional-information
              %p= @catalog_item_variation.information
