%body#products_page
  #carouselExampleSlidesOnly.carousel.slide{"data-bs-ride" => "carousel"}
    .carousel-inner
      - ["banner9.jpg", "banner10.jpg", "banner6.jpg", "banner5.jpg", "banner11.jpg", "banner12.jpg"].each_with_index do |banner, index|
        .carousel-item{"class" => ("active" if index == 0), "data-bs-interval" => "4000"}
          = image_tag banner, class: 'd-block w-100'

  %section.cards-section
    = turbo_frame_tag "products" do
      .row.justify-content-center.products-container.mt-3
        .col-12.col-sm-8.col-md-6.col-lg-4.col-xl-3.mx-auto.pt-lg-3
          = render "sites/components/store_filter"

        .col-12.col-sm-10.col-md-12.col-lg-8.col-xl-9
          .d-flex.mb-5.logo.d-md-flex
            %p.pb-3.pe-3= t(".convince_them").html_safe
            .d-none.d-md-block.p-3.mb-5= image_tag "LogoAtie_Hatie_transparent_bg.png"

          .container
            .row
              - @catalog_item_variations.each do |product|
                - if product.images.last.present?
                  = link_to product_path(product.id), data: { turbo_frame: "_top" }, class: "col-md-4 card-container", style: "text-decoration: none;" do
                    .card
                      = image_tag product.images.first.image_url, alt: "Bougie de haute qualité", class: "card-img-top"
                      .card-body
                        .d-flex.align-items-center
                          %h5.card-title= product.catalog_item.name
                          %p.mb-0.ms-2= "- #{product.name}"
                        .d-flex
                          .learn-more= t("helpers.links.learn_more")
                          %p= t("helpers.format.money", val: number_with_precision(product.price, precision: 2))
